/bin
/.settings
/.classpath
/.DS_Store
/.project
/src/.DS_Store
/src/com/.DS_Store
/src/com/tlf/.DS_Store
/assets/camosuits/.DS_Store
/assets/camosuits/lang/.DS_Store
/assets/camosuits/textures/.DS_Store
/assets/camosuits/textures/armor/.DS_Store
/assets/camosuits/textures/items/.DS_Store